h1 {
  font-family: 'Aclonica', sans-serif;
  text-align: center;
}

h2 {
  font-family: 'Aclonica', sans-serif;
  text-align: center;
}
body {
    background-image: url("Glow-worms-Gold-Coast-1.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
}

.header {
  background-color: darkgrey;
  padding: 15px;
}
p.first {
  color: crimson;
  font-size: 2rem;
  font-family: 'Londrina Shadow', cursive;
  text-align: center;
}

p {
  color: crimson;
  font-family: 'Londrina Shadow', cursive;
  font-size: 1.5rem;
  text-align: right;
}

div.container{
  background-color: black;
}