h1 {
  font-family: 'Aclonica', sans-serif;
  text-align: center;
  color: lightgoldenrodyellow;
}

h2 {
  font-family: 'Aclonica', sans-serif;
  text-align: center;
  color: lightgoldenrodyellow;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  background-image: url("Green%20Cave.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  align-items: center;
}

nav {
  background-color: darkgrey;
}

header {
  background-color: black;
  padding-top: 20px;
  
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkgrey;
  }
li {
    float: left;
  }

li a {
    display: block;
    color: lightgoldenrodyellow;
    text-align: center;
    padding: 14px 16px;
    font-family: 'Aclonica', sans-serif;
}

li a:hover:not(.active) {
    background-color: gold;
}

.active {
    background-color: darkgrey;
}

section {
  padding: 0 .75rem;
}

p {
  color: crimson;
  font-family: 'Londrina Shadow', cursive;
  font-size: 1.5rem;
  text-align: center;
}

aside {
  font-family: 'Aclonica', sans-serif;
  color: lightgoldenrodyellow;
}

.item-container {
  display: flex;
  flex-wrap: wrap;
  background-color: darkgrey;
  justify-content: space-around;
  padding: 10px;
 
}

footer {
  background-color: black;
  background-size: 50px;
  padding-top: 25px;
  padding-bottom: 50px;
  text-align: center;
}