h1 {
  font-family: 'Aclonica', sans-serif;
  text-align: center;
}

#background {
  background-color: black;
}

body {
    background-image: url("Glow-worms-Gold-Coast-1.jpg");
    background-repeat: repeat-x;
    background-position: auto;
    margin: auto;
    background-attachment: fixed;
}

.header {
  background-color: darkgrey;
}

p.first {
  color: crimson;
  font-size: 2rem;
  font-family: 'Londrina Shadow', cursive;
  text-align: center;
}

p {
  color: crimson;
  font-family: 'Londrina Shadow', cursive;
  font-size: 1.5rem;
  text-align: right;
}